.popup__input-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none; /* Ошибка будет скрыта, пока не будет активирована */
}

.popup__input-error_active {
  display: block; /* Показываем ошибку */
}
